.top-bar {
    position: fixed;
    justify-content: space-between;
    background-color: #940b0b;
    width: 100svw;
    max-width: 100svw;
    height: 9svh;
    max-height: 9svh;
    align-items: center;
    display: flex;
    padding: 4svh;
    transition: 0.6s ease;
    color: white;
    z-index: 5;
}

.open {
    background-color: white;
    color: #940b0b;
}

.open-bar {
    position: fixed;
    background-color: #940b0b;
    height: 91svh;
    max-height: 91svh;

    width: 100svw;
    max-width: 100svw;
    bottom: 0;
    right: 0;
    transition: 0.6s ease;
    color: white;
}

.open-bar * {
    color: white;
}



.bar-closed {
    transform: translateX(100%);
}

.bar-open {
    transform: translateX(0);
}

.three-bars {
    z-index: 500;
    width: 5svh;
    background-color: transparent;
    padding: 0;
    border: none;
    transition: slideIn 1s ease;
}

.open-header {
    color: #940b0b;
}

.closed-header {
    color: white;
}
